* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.box {
	width: 25%;
	font-size: 48px;
	text-align: center;
	float: left;
	border: 2px solid red;
	padding: 10px;
}

@media all and (max-width: 1023px) {
	.box {
		width: 50%;
	}
}

@media all and (max-width: 639px) {
	.box {
		width: 100%;
	}
}
